html {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 280px) and (max-width: 1199px) {
  body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }
}

#text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  padding-left: 9em;
  background-color: #ffffff;
  background-image: url("images/bg-pattern-desktop.svg");
  background-size: cover;
}
@media (min-width: 280px) and (max-width: 1199px) {
  #text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 50%;
    min-height: 324px;
    margin-top: 10vw;
    padding-left: 0em;
  }
}
#text img {
  height: 33px;
  width: 158;
  margin-bottom: 5em;
}
@media (min-width: 280px) and (max-width: 1199px) {
  #text img {
    display: none;
  }
}
#text .text--content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60em;
  flex-wrap: wrap;
}
@media (min-width: 280px) and (max-width: 1199px) {
  #text .text--content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 84%;
    height: initial;
  }
}

.image {
  height: 100vh;
  width: 40%;
  background-image: url("images/hero-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 280px) and (max-width: 1199px) {
  .image {
    height: 40%;
    width: 100vw;
    max-width: 100%;
    background-position: top;
  }
}

.mobile {
  display: none;
}
@media (min-width: 280px) and (max-width: 1199px) {
  .mobile {
    display: flex;
    flex-direction: initial;
    justify-content: flex-start;
    align-items: center;
    height: 10%;
    width: 100%;
    padding-left: 5vw;
  }
}
@media (min-width: 280px) and (max-width: 1199px) {
  .mobile .mobile-logo {
    display: initial;
    width: 30vw;
    max-width: 130px;
    margin: 20em 0 20em 0;
  }
}

h1 {
  margin: 0;
  font-family: "Josefin sans";
  font-weight: 600;
  font-size: 8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  line-height: 1.2em;
}
@media (min-width: 280px) and (max-width: 1199px) {
  h1 {
    font-size: 9vw;
    text-align: center;
  }
}

h2 {
  margin: 0;
  font-family: "Josefin sans";
  font-weight: 300;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #ce9797;
}
@media (min-width: 280px) and (max-width: 1199px) {
  h2 {
    font-size: 9vw;
  }
}

.Text--content-description {
  font-family: "Josefin sans";
  font-weight: 400;
  font-size: 1.7em;
  line-height: 1.7em;
  color: #ce9797;
}
@media (min-width: 280px) and (max-width: 1199px) {
  .Text--content-description {
    font-size: 1.2em;
    text-align: center;
  }
}

form {
  display: inline-flex;
  position: relative;
  margin-top: 20px;
  margin-bottom: 5px;
}
@media (min-width: 280px) and (max-width: 1199px) {
  form {
    display: block;
  }
}

input {
  height: 40px;
  width: 30vw;
  min-width: 280px;
  padding-left: 20px;
  padding-right: 30px;
  font-family: "Josefin sans";
  font-size: 1.5em;
  color: #000;
  border: double 2px transparent;
  border-radius: 30px;
  border-color: rgba(65, 58, 58, 0.3);
  background-repeat: no-repeat;
  background-position: 80% 50%;
}
@media (min-width: 280px) and (max-width: 1199px) {
  input {
    width: 15em;
    min-width: initial;
    background-position: 70% 50%;
  }
}

input::placeholder {
  font-family: "Josefin sans";
  color: #ce9797;
}

input:focus {
  border-color: #ce9797;
  outline-width: 0;
}

button:focus {
  outline: none;
}

button {
  position: absolute;
  width: 70px;
  height: 46px;
  top: 0;
  right: 0;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 5px 20px 0px rgba(249, 98, 98, 0.4);
  background-image: url(images/icon-arrow.svg), linear-gradient(135deg, #f8bfbf, #ee8c8c);
  background-repeat: no-repeat;
  background-position: center;
}

#error {
  display: none;
  margin-left: 20px;
  font-family: "Josefin sans";
  font-size: 12px;
  color: red;
}

/*# sourceMappingURL=style.css.map */

